/* Generated Tailwind Theme */
@theme {
  --colors-base-colour-blue-100: #bdddff;
  --colors-base-colour-blue-200: #8bc4ff;
  --colors-base-colour-blue-300: #0177cc;
  --colors-base-colour-blue-400: #00294c;
  --colors-base-colour-grey-100: #d9d9d9;
  --colors-base-colour-grey-200: #bfbfbf;
  --colors-base-colour-grey-300: #747474;
  --colors-base-colour-grey-400: #282828;
  --colors-base-colour-pink-100: #ffc6e0;
  --colors-base-colour-pink-200: #ff9acb;
  --colors-base-colour-pink-300: #cd0087;
  --colors-base-colour-pink-400: #4d0030;
  --colors-base-colour-static-black: #000000;
  --colors-base-colour-static-black-10: rgba(0, 0, 0, 0.10000000149011612);
  --colors-base-colour-static-black-30: rgba(0, 0, 0, 0.30000001192092896);
  --colors-base-colour-static-black-50: rgba(0, 0, 0, 0.5);
  --colors-base-colour-static-transparent: rgba(255, 255, 255, 0);
  --colors-base-colour-static-white: #ffffff;
  --spacing-base-font-linespacing-2xl: 32px;
  --spacing-base-font-linespacing-lg: 24px;
  --spacing-base-font-linespacing-md: 20px;
  --spacing-base-font-linespacing-xl: 28px;
  --spacing-base-radius-lg: 12px;
  --spacing-base-radius-md: 8px;
  --spacing-base-radius-sm: 4px;
  --spacing-base-size-2xl: 24px;
  --spacing-base-size-2xs: 1px;
  --spacing-base-size-lg: 12px;
  --spacing-base-size-md: 8px;
  --spacing-base-size-none: 0px;
  --spacing-base-size-sm: 4px;
  --spacing-base-size-xl: 16px;
  --spacing-base-size-xs: 2px;
  --spacing-global-animation-duration: 200px;
  --font-inter: inter;
  --font-noto-serif: noto serif;
  --font-weight-bold: 800px;
  --font-weight-regular: 400px;
  --font-weight-semibold: 500px;
  --font-weight-thin: 100px;
  --font-size-2xl: 24px;
  --font-size-3xl: 32px;
  --font-size-lg: 18px;
  --font-size-md: 16px;
  --font-size-xl: 20px;
}


/* Generated Tailwind Utilities */

@utility button.hover {
  @apply bg-colors-base-colour-pink-300 flex flex-row justify-center items-center gap-x-3 gap-y-3 shadow-[inset_0_3px_0_0_#4d0030,inset_-3px_0_0_0_#4d0030,inset_0_-3px_0_0_#4d0030,inset_3px_0_0_0_#4d0030] rounded-tl-[4px] rounded-tr-[4px] rounded-br-[4px] rounded-bl-[4px] pt-[11px] pr-base-size-2xl pb-[11px] pl-base-size-2xl; 
}

@utility button.pressed {
  @apply bg-colors-base-colour-pink-400 flex flex-row justify-center items-center gap-x-3 gap-y-3 rounded-tl-[4px] rounded-tr-[4px] rounded-br-[4px] rounded-bl-[4px] pt-[11px] pr-base-size-2xl pb-[11px] pl-base-size-2xl; 
}

@utility button.resting {
  @apply bg-colors-base-colour-pink-300 flex flex-row justify-center items-center gap-x-3 gap-y-3 rounded-tl-[4px] rounded-tr-[4px] rounded-br-[4px] rounded-bl-[4px] pt-[11px] pr-base-size-2xl pb-[11px] pl-base-size-2xl; 
}

@utility button/button-text.hover {
  @apply text-colors-base-colour-static-white font-inter text-lg font-medium; 
}

@utility button/button-text.pressed {
  @apply text-colors-base-colour-static-white font-inter text-lg font-medium; 
}

@utility button/button-text.resting {
  @apply text-colors-base-colour-static-white font-inter text-lg font-medium; 
}

@utility button/button/button-text.pressed {
  @apply text-colors-base-colour-static-white font-inter text-lg font-medium; 
}

@utility input.active {
  @apply flex flex-col items-start gap-x-0.5 gap-y-0.5 w-[255px] pt-base-size-none pr-base-size-none pb-base-size-none pl-base-size-none; 
}

@utility input.hover {
  @apply flex flex-col items-start gap-x-0.5 gap-y-0.5 w-[255px] pt-base-size-none pr-base-size-none pb-base-size-none pl-base-size-none; 
}

@utility input.resting {
  @apply flex flex-col items-start gap-x-0.5 gap-y-0.5 w-[255px] pt-base-size-none pr-base-size-none pb-base-size-none pl-base-size-none; 
}

@utility input/input-box.active {
  @apply bg-colors-base-colour-static-white flex flex-row items-center gap-x-3 gap-y-3 w-[255px] border-[2px] border-solid border-colors-base-colour-pink-300 shadow-[inset_0_2px_0_0_#cd0087,inset_-2px_0_0_0_#cd0087,inset_0_-2px_0_0_#cd0087,inset_2px_0_0_0_#cd0087] rounded-tl-[8px] rounded-tr-[8px] rounded-br-[8px] rounded-bl-[8px] pt-[9px] pr-[10px] pb-[9px] pl-[10px]; 
}

@utility input/input-box.hover {
  @apply bg-colors-base-colour-static-white flex flex-row items-center gap-x-3 gap-y-3 w-[255px] border-[2px] border-solid border-colors-base-colour-grey-300 shadow-[inset_0_2px_0_0_#747474,inset_-2px_0_0_0_#747474,inset_0_-2px_0_0_#747474,inset_2px_0_0_0_#747474] rounded-tl-[8px] rounded-tr-[8px] rounded-br-[8px] rounded-bl-[8px] pt-[9px] pr-[10px] pb-[9px] pl-[10px]; 
}

@utility input/input-box.resting {
  @apply bg-colors-base-colour-static-white flex flex-row items-center gap-x-3 gap-y-3 w-[255px] border-[2px] border-solid border-colors-base-colour-grey-100 shadow-[inset_0_2px_0_0_#d9d9d9,inset_-2px_0_0_0_#d9d9d9,inset_0_-2px_0_0_#d9d9d9,inset_2px_0_0_0_#d9d9d9] rounded-tl-[8px] rounded-tr-[8px] rounded-br-[8px] rounded-bl-[8px] pt-[9px] pr-[10px] pb-[9px] pl-[10px]; 
}

@utility input/input-box/input-text.active {
  @apply text-colors-base-colour-grey-400 font-inter text-md font-normal flex flex-col w-[231px]; 
}

@utility input/input-box/input-text.hover {
  @apply text-colors-base-colour-grey-400 font-inter text-md font-normal flex flex-col w-[231px]; 
}

@utility input/input-box/input-text.resting {
  @apply text-colors-base-colour-grey-400 font-inter text-md font-normal flex flex-col w-[231px]; 
}

@utility input/label.active {
  @apply text-colors-base-colour-pink-300 font-inter text-xl font-medium flex flex-col w-[255px]; 
}

@utility input/label.hover {
  @apply text-colors-base-colour-grey-400 font-inter text-xl font-medium flex flex-col w-[255px]; 
}

@utility input/label.resting {
  @apply text-colors-base-colour-grey-400 font-inter text-xl font-medium flex flex-col w-[255px]; 
}

@utility styles/inter.pressed {
  @apply text-colors-base-colour-static-black font-inter text-2xl font-semibold; 
}

@utility styles/noto-serif.pressed {
  @apply text-colors-base-colour-static-black font-noto-serif text-2xl font-normal; 
}

@utility styles/rectangle-1.pressed {
  @apply bg-colors-base-colour-grey-400; 
}

@utility styles/rectangle-10.pressed {
  @apply bg-colors-base-colour-pink-300; 
}

@utility styles/rectangle-11.pressed {
  @apply bg-colors-base-colour-pink-200; 
}

@utility styles/rectangle-12.pressed {
  @apply bg-colors-base-colour-pink-100; 
}

@utility styles/rectangle-13.pressed {
  @apply bg-colors-base-colour-static-black; 
}

@utility styles/rectangle-14.pressed {
  @apply bg-colors-base-colour-static-white; 
}

@utility styles/rectangle-15.pressed {
  @apply bg-colors-base-colour-static-transparent shadow-[inset_0_1px_0_0_#000000,inset_-1px_0_0_0_#000000,inset_0_-1px_0_0_#000000,inset_1px_0_0_0_#000000]; 
}

@utility styles/rectangle-16.pressed {
  @apply bg-colors-base-colour-static-black-50; 
}

@utility styles/rectangle-17.pressed {
  @apply bg-colors-base-colour-static-black-30; 
}

@utility styles/rectangle-18.pressed {
  @apply bg-colors-base-colour-static-black-10; 
}

@utility styles/rectangle-2.pressed {
  @apply bg-colors-base-colour-grey-300; 
}

@utility styles/rectangle-3.pressed {
  @apply bg-colors-base-colour-grey-200; 
}

@utility styles/rectangle-4.pressed {
  @apply bg-colors-base-colour-grey-100; 
}

@utility styles/rectangle-5.pressed {
  @apply bg-colors-base-colour-blue-400; 
}

@utility styles/rectangle-6.pressed {
  @apply bg-colors-base-colour-blue-300; 
}

@utility styles/rectangle-7.pressed {
  @apply bg-colors-base-colour-blue-200; 
}

@utility styles/rectangle-8.pressed {
  @apply bg-colors-base-colour-blue-100; 
}

@utility styles/rectangle-9.pressed {
  @apply bg-colors-base-colour-pink-400; 
}

@utility styles/text-size-16.pressed {
  @apply text-colors-base-colour-static-black font-inter text-md font-semibold; 
}

@utility styles/text-size-18.pressed {
  @apply text-colors-base-colour-static-black font-inter text-lg font-semibold; 
}

@utility styles/text-size-20.pressed {
  @apply text-colors-base-colour-static-black font-inter text-xl font-semibold; 
}

@utility styles/text-size-24.pressed {
  @apply text-colors-base-colour-static-black font-inter text-2xl font-semibold; 
}
